{% extends 'layout.html.twig' %}
{% block title %}Strona główna serwisu{% endblock %}
{% block content %}
    <main>
        <article class="prose">
            <h1>This is user page</h1>
            <p>User id: {{ id }}</p>
        </article>
    </main>
{% endblock %}